*{
    margin: 0px;
    padding: 0px;
}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.container-fluid{
    padding: 0px;
    background: black;
    text-decoration-color: rgba(205, 71, 218, 0.651);
    
}


.menuLateral{
    height: 100%;
    padding: 0px;
    box-shadow: 5px 5px 10px rgba(205, 71, 218, 0.651);    
}

.lateral{
    padding: 0px;
}

.imagemItens{
    width: 20px;
    height: 20px;
}

nav ul{
    list-style: none;
}

.bannerMenu{
    width: 100%;
    height: 150px;
    opacity: 0.5;
}

.banner{
    width: 100%; 
    height: 500px;   
    opacity: 0.5;
    padding: 10px;
}

.fotoPerfilUm{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    top: 390px;
    left: 30px;
}

.fotoPerfilDois{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 20px;
    filter: grayscale(100%);
}

.projeto1{
    width: 220%;
    text-decoration-line: center;
    
}

.projeto2{
    width: 220%;
  
}

.nomeemail{
    position: absolute;
    z-index: 2;
    top: 125px;
    left: 10px;
    font-size: 12pt;
    color: whitesmoke;
}

.social li{
   display: inline;
   background-color: rgba(250, 249, 249, 0.822);
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 10px;
   position: center;
   

}

.social{
    z-index: 2;
    position:fixed;
    top: 60px;
    margin-left: 120px;
    margin-right: 50px;

}

.imagensSociais{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.marginHr{
    margin-bottom: 50px;
}

.texto{
    text-align: justify;
    text-decoration-color: white;
}

.sub{
    color: #95a5a6;
    font-size: 20pt;
    margin-bottom: 40px;
}

.card{
    padding: 15px;
    box-shadow: 2px 2px 2px 2px rgba(205, 71, 218, 0.651); 
    background-color: #fdfafdf3; 
    text-decoration-color: rgb(0, 0, 0);
    
}

* {
    box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.863);
  padding: 0;
 
}

.skills {
  text-align: right;
  padding: 5px;
  color: white;
 
}



.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 70%; background-color: #f44336;}
.java {width: 80%; background-color: #f1c40f;}
.mysql {width: 85%; background-color: #731880;}

.comunicacao {width: 90%; background-color: #4CAF50;}
.proatividade {width: 85%; background-color: #2196F3;}
.lideranca {width: 80%; background-color: #f44336;}
.equipe {width: 95%; background-color: #f1c40f;}
.empatia {width: 90%; background-color: #731880;}


h1{
    color: white;

}

h3{
    color: whitesmoke;

}

h4{
    color: whitesmoke;
    
}

h5{
    padding-top: 15px;
 
}

h6{
    padding-top: 15px;
    color: white;
 
}

p{
    color: rgba(162, 92, 168, 0.979);
    
}

.collection-item {
    background-color: rgba(255, 255, 255, 0);
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e48ec0;
    
}

ul:not(.browser-default) > li {
    list-style-type: none;
}

.col-lg-11{
    color: rgba(162, 92, 168, 0.979);
}

.col-lg-5{
    width: 450px;
    margin: 10px;
    
}
